<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle|default("Strona z memami") }}</title>
    <link rel="stylesheet" href="style.css">
       <style>
		.banner {
			background-color: #2d2d2d;
			color: #fff;
			padding: 20px;
			text-align: center;
			font-size: 24px;
			font-weight: bold;
		}
        .left-banner {
            height: 100%;
			position: fixed;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
            background-color: #2d2d2d;
			color: #fff;
			padding: 20px;
			text-align: center;
			font-size: 24px;
			font-weight: bold;
            z-index: 1;
		}
		
		.right-banner {
			position: fixed;
            height: 100%;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			background-color: #2d2d2d;
			color: #fff;
			padding: 20px;
			text-align: center;
			font-size: 24px;
			font-weight: bold;
            z-index: 1;
		}
	</style>
  
</head>

<body style="background-color: maroon;  z-index: 2;" onload="playAudio()">
    <div class="right-banner ">
        <p>Reddot.su</p>
        <img src="6BeM.gif" width="310" height="200"><br/>
        <img src="stalon.gif" width="310" height="200"><br/>
        <img src="lgbtstalin.gif" width="310" height="200"><br/>
        <img src="dancingstalin.gif" width="310" height="200"><br/>
        
    </div>
    <div class="left-banner ">
        <p>Reddot.su Najlepsze memy</p>
        <img src="stalin.gif" width="310" height="200"><br/>
        <img src="stalin-soviet.gif" width="310" height="200"><br/>
        <img src="stalin-stalin-greets.gif" width="310" height="200"><br/>
        <img src="stalins.gif" width="310" height="200"><br/>
        <a href="http://localhost/ProjektJakisTam/pub/">
    </div>
    	<div class="banner">
            <p>Reddot.su</p>
            <img src="Animated-Flag-USSR.gif">
        </div>
    </a>
    
