{% include 'header.html.twig' %}
<div>
<h1>Main Page</h1>

<h1>{{pageTitle}}</h1>
<div id="post">
{% post in postArray %}
<img src="{{post.GetFilename()}}">
<h6>Data Dodania: {{post.getTimestamp}}</h6>
</div>
{{post.getFilename()}}
</div>
{% endfor %}
{% include 'footer.html.twig' %} 